/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.page-overlay {
	background-color: rgba(0,0,0,.5);
	position: fixed;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 9998;
}

.loading {
	position: fixed;
	width: 42px;
	height: 42px;
	top: 50%;
	left: 50%;
	margin-top: -21px;
	margin-left: -21px;
	z-index: 9999;
}

.form-group {
	width: 100%;
	margin: 10px 0;
}

.input-group {
	
}

.form-control {
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 5px;
	color: #333;
	width: 100%;
	box-sizing: border-box;
}

.input-round {
	font-family: Arial, san-serif;
	font-size: 16px;
	line-height: 1.3em;
	border: 1px solid #ccc;
	border-radius: 12px;
	height: 20px;
	padding: 3px 12px;
	resize: none;
	color: #333;
}

.btn {
	background: #4390bc;
	color: #fff;
	border: 0;
	font-size: 14px;
	padding: 5px 12px;
	text-align: center;
	cursor: pointer;
}

.btn-block {
	width: 100%;
}

.page {
	background: #e6ecf0;
}

.navbar {
	background: #4390bc;
	color: #fff;
}

.navbar a {
	color: #fff;
}

.navbar i {
	color: #fff;
}

.nav-left {
	position: relative;
	top: 5px;
	left: 10px;
	z-index: 99;
}

#nav-profile-icon {
	
}

#nav-profile-icon img {
	border-radius: 50%;
	
}

.content-block {
	margin: 10px 0;	
}

.page-panel {
	border: 1px solid #dbe1e5;
	background: #fff;
	margin: 0 0 10px 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
	padding: 10px;
}

.login-link {
	font-size: 12px;
}